%footer.container
    %script{src: "../javascript/packs/application.js"}
    %p.float-end
    -#   %a{:href => "#"} Back to top
    %p
        Reservado 2023 - #{Time.new.year} Versão 1.0
    -#   © 2023–2023 Company, Inc. ·
    -#   %a{:href => "#"} Privacy
    -#   ·
    -#   %a{:href => "#"} Terms
